p.a {
    text-align-last: right;
}

.column {
    float: left;
    width: 33.3%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button_color {
    color:rgb(0, 0, 0);
    border-radius: 6px;
    border: 6px solid white;
    width:35px;
    height: 35px;
}
body{
    background-image: url(Imgs/IMG_1170.PNG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  div img{
    width: 20%;
    cursor: pointer;
    margin: 10px;
    transition:  0.2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Color_background{
    background-color: aliceblue;
    width: 30%
}
